{{page-title "Myproject"}}
{{!-- <h1> This is the begining </h1> --}}
<a href = "/basketball" >Watch Basektball now</a>
<a href = "/soccer" >Watch Soccer now</a>
{{outlet}}

{{! The following component displays Ember's default welcome message. }}

{{! Feel free to remove this! }}